:root {
    --main-bg-color: #088baf;
    --main-color: white;
    --danger-color: #ff6f82;
    --secondary-bg-color: #b6ffd4; 
    --secondary-color: #444444;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555555;
    font-size: 20px;
    margin: 0;
}